/* default CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
ul li{
    list-style: none;
}
/* custom font */
@font-face {
    font-family: 'solaimanlipi';
    src: url('/fonts/SolaimanLipi.ttf');
}
/* global color */
:root {
    --primary-color: #ff0000;
    --secondary-color: #00ff00;
    --title-color: #222222;
    --text-body-color: #5a5a5a;
    --primary-font :'solaimanlipi', sans-serif;
    --border: #e2e2e2;
  }

/* flex  */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    justify-items: center;
}
/* text alignment */
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}


/* === HeaderArea Start === */
/* topHeader start */
.topHeader {
	background-color: #f0f0f0;
	padding: 5px 0 4px 0;
}
.topHeaderDate ul li{
    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-family: var(--font-family);
    font-weight: 400;
}

/* mainHeader start */
.mainHeader{
  background-color: #ffffff;
}

/* bottomHeader start */
.bottomHeader{
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
}




/* === first section === */
.firstSectionComponents{
    display: grid;
    grid-template-columns: 9fr  3fr;
    margin-top: 20px;

}
.firstLeadNews{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-right: 1px solid var(--border);
    padding: 0px 14px;
}
.firstSectionTabContent{
    padding: 0 14px;
}

.bigThambnail{
    max-width: 640px;
}
.mainTitle{
    font-size: 28px;
    line-height: 38px;
    font-weight: 700px;
    font-family: var(--primary-font);
}
.newsDateLead{
    font-size: 14px;
    color: #979797;
    font-family: var(--primary-font);
}

.LeadNewsListItem {
    border-bottom: 1px solid var(--border) ;
    margin-top: 15px;
    padding-bottom: 15px;
}

.LeadNewsListItem .desc{
padding: 0 14px;
}

.LeadNewsListItem .desc .title {
    -webkit-line-clamp: 2;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5px;
}

/*  */g