/* default CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1700px;
  margin: 0 auto;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.title{
    color: var(--title-color);
}
/* custom font */
@font-face {
  font-family: "solaimanlipi";
  src: url("fonts/SolaimanLipi.ttf");
}
/* global color */
:root {
  --primary-color: #a62107;
  --secondary-color: #00ff00;
  --title-color: #222222;
  --third-color: #fff;
  --text-body-color: #5a5a5a;
  --background-color: #f0f0f0;
  --primary-font: "solaimanlipi", sans-serif;
  --border: #e2e2e2;
}

/* flex  */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.items-center {
  justify-items: center;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* === HeaderArea Start === */
/* topHeader start */
.topHeader {
  background-color: #f0f0f0;
  padding: 5px 0 4px 0;
}
.topHeaderDate ul li {
  color: #333;
  font-size: 16px;
  line-height: 22px;
  font-family: var(--primary-font);
  font-weight: 400;
}

/* mainHeader start */
.mainHeader {
  background-color: #ffffff;
}

/* bottomHeader start */
.bottomHeader {
  background-color: #f0f0f0;
  border: 1px solid #d7d7d7;
}

/* === first section === */
.firstSectionComponents {
  display: grid;
  grid-template-columns: 9fr 3fr;
  margin-top: 20px;
}
.firstLeadNews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-radius: 10px;
  margin-left: 14px;
  background: var(--background-color);
}
.firstLeadNews .desc {
  padding: 15px 10px 10px 10px;
}
.firstSectionTabContent {
  padding: 0 14px;
  margin-left: 14px;
  border-left: 1px solid var(--border);
}

.bigThambnail {
  max-width: 640px;
}
.smThambnail {
  width: 172px;
  height: 103px;
}
.mainTitle {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700px;
  font-family: var(--primary-font);
}
.newsDateLead {
  font-size: 14px;
  color: #979797;
  font-family: var(--primary-font);
}

.LeadNewsListItem:first-child {
  margin-top: 0;
}
.LeadNewsListItem {
  border-bottom: 1px solid var(--border);
  margin-top: 15px;
  padding-bottom: 15px;
}
.LeadNewsListItem:nth-child(4) {
  border-bottom: none;
}

.LeadNewsListItem .desc {
  padding: 0 14px;
}

.LeadNewsListItem .desc .title {
  -webkit-line-clamp: 2;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 5px;
  font-family: var(--primary-font);
}

.gridLayoutTop2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  margin-top: 30px;
}

.gridLayoutTop2 .gridItems .gridInner {
  border-right: 1px solid var(--border);
  padding: 0 14px;
}
.rightBorderNone {
  border-right: none !important;
}
.gridLayoutTop2 .gridItems:nth-child(4) {
  padding: 20px 0;
}
.gridLayoutTop2 .gridItems:nth-child(5) {
  padding: 20px 0;
}
.gridLayoutTop2 .gridItems:nth-child(6) {
  padding: 20px 0;
}

.gridLayoutTop2 .gridItems .desc {
  border-bottom: 1px solid var(--border);
  padding: 10px 0px;
}

.gridLayoutTop2 .gridItems:nth-child(4) .desc {
  border-bottom: none;
  border-right: none;
}
.gridLayoutTop2 .gridItems:nth-child(5) .desc {
  border-bottom: none;
}
.gridLayoutTop2 .gridItems:nth-child(6) .desc {
  border-bottom: none;
}

.gridLayoutTop2 .gridItems .title {
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--title-color);
}
.gridLayoutTop2 .gridItems .brief {
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--primary-font);
  color: var(--text-body-color);
  line-height: 24px;
}
.gridLayoutTop2 .gridItems img {
  width: 100%;
}

/* first Section Tab */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--border);
  background: var(--background-color);
  text-align: center;
}

.tabs li {
  width: 50%;
  font-family: var(--primary-font);
}
.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: var(--primary-color);
  color: var(--third-color);
}

.latestNewsList {
  border-bottom: 1px solid var(--border);
  padding: 20px;
  text-align: left;
  font-family: var(--primary-font);
 
}
.latestNewsList span {
  padding-right: 12px;
  font-size: 35px;
  color: var(--primary-color);
  
}

