/* default CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
/* custom font */
@font-face {
    font-family: 'solaimanlipi';
    src: url('/fonts/SolaimanLipi.ttf');
}
/* global color */
:root {
    --primary-color: #ff0000;
    --secondary-color: #00ff00;
    --title-color: #222222;
    --text-body-color: #5a5a5a;
    --font-family :'solaimanlipi', sans-serif;
  }

/* flex  */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    justify-items: center;
}
/* text alignment */
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

h1{
    font-family: var(--font-family);
  
}
